<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img src={{image}} class="works2" alt="...">
                    </div>
                    <div class="card-body">
                        {{#if rated}}
                        <div>{{stars}}</div>
                        {{else}}
                        <form id="rateFB" role="form" method="get" action="/addStarsPageA">
                                <div class = "rating">
                                    <a class = "subtracting"><i class="fas fa-minus-circle" style="color: red"></i></a>
                                    <i class="fas fa-star" ></i> 
                                    <h5 id="numStars" name = "totalStars"> 0 </h5>
                                    <a class = "adding"><i class="fas fa-plus-circle" style="color: red"></i></a>
                                </div>
                                <input id="hiddenStars" name="hiddenStars" type="hidden" value="">
                                <input id="hiddenID" name="hiddenID" type="hidden" value={{feedbackID}}>
                                <div class = "ratingSubmit">
                                    <button type="submit" class="btn myBtn">
                                            <a style="color:white">Submit</a>
                                    </button>
                                </div>
                        </form>
                        {{/if}}
                        <p class="card-text">{{questionResp}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>