<html>
<head>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/givefeedback.js"></script>
	<title>Dconstruct</title>

</head>
<body>
<div>
	{{> topnav}}

	<h1 class="title">Give Feedback</h1>

	<div>
		<img class="works" src={{image}}>
	</div>
{{!-- onsubmit="window.location.href = '/main';" --}}
	<form class="myForm text-center" id="addFriendForm" role="form" method="get" action="/givefeedback" >
	  <div class="form-group">
	    <label for="textResponse1">{{question}}</label>
	    <input class="form-control myInput" id="textResponse1" rows="2" name="answer1"></input>
	  </div>
	  <div class="form-group">
	    <label for="textResponse2">{{prompt}}</label>
	    <input class="form-control myInput" id="textResponse2" rows="2" name="answer2"></input>
	  </div>
	  	<input id="no" name="no" type="hidden" value={{no}}>
		<input id="userID" name="userID" type="hidden" value={{userID}}>
		<input id="category" name="category" type="hidden" value={{category}}>
		<input id="image" name="image" type="hidden" value={{image}}>

		<input type="submit" id="submitBtn" class="btn myBtn" value="Submit feedback"></input>
	</form>

	{{> navbar}}
</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>

</body>
</html>
