<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/history.css" rel="stylesheet"></link>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/history.js"></script>
	
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<title>Dconstruct</title>
</head>
<body>
<div>
	{{> topnav}}
	<ul class=" nav nav-pills mb-3 justify-content-center nav-fill" id="pills-tab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sent</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Recieved</a>
	  </li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
	  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
	  	<h1 class="title">Sent History</h1>
		  <h2>Photography</h2>
		  	<div id="accordion">
			{{#each givenP}}
			<div class="card bg-light">
				<div class="card-horizontal" id="headingOne">
					<div>
					<button class="btn btn-link" data-toggle="collapse" data-target="#{{feedbackID}}" aria-expanded="false" aria-controls={{feedbackID}}>
					<div class="img-square-wrapper">
						<img src={{image}} class="works2" alt="...">
					</div>
					</div>
					<div>
						<p class="card-text">This work is by {{userID}}</p>
					</div>
					</button>
				</div>

				<div id={{feedbackID}} class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					{{questionResp}}
					{{promptResp}}
				</div>
				</div>
			</div>
			{{/each}}
			</div>

			
			{{!-- <div class="container-fluid">
			    <div class="row">
			        <div class="col-12 mt-3">
			            <div class="card bg-light">
			                <div class="card-horizontal">
			                    <div class="img-square-wrapper">
			      					<img src={{image}} class="works2" alt="...">
			                    </div>
			                    <div class="card-body">
			                        <h4 class="card-title">RATING GOES HERE</h4>
			                        <p class="card-text">{{questionResp}}</p>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div> --}}
			
			<h2>Illustration</h2>
			{{#each givenI}}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-12 mt-3">
			            <div class="card bg-light">
			                <div class="card-horizontal">
			                    <div class="img-square-wrapper">
			      					<img src={{image}} class="works2" alt="...">
			                    </div>
			                    <div class="card-body">
			                        <h4 class="card-title">RATING GOES HERE</h4>
			                        <p class="card-text">{{questionResp}}</p>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			{{/each}}
			<h2>Graphic Design</h2>
			{{#each givenG}}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-12 mt-3">
			            <div class="card bg-light">
			                <div class="card-horizontal">
			                    <div class="img-square-wrapper">
			      					<img src={{image}} class="works2" alt="...">
			                    </div>
			                    <div class="card-body">
			                        <h4 class="card-title">RATING GOES HERE</h4>
			                        <p class="card-text">{{questionResp}}</p>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			{{/each}}
	  </div>

	  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	  	<h1 class="title">Recieved History</h1>
		<h2>Photography</h2>
		{{#if showPageA}} 
		{{#each receivedP}}
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-12 mt-3">
		            <div class="card">
		                <div class="card-horizontal">
		                    <div class="img-square-wrapper">
		      					<img src={{image}} class="works2" alt="...">
		                    </div>
		                    <div class="card-body">

		                    	<form id="rateFB" role="form" method="get" action="/addStars">
			                    		<div class = "rating">
			                        		<a class = "subtracting"><i class="fas fa-minus-circle" style="color: red"></i></a>
			                        		<i class="fas fa-star" ></i> 
			                        		<h5 id="numStars" name = "totalStars"> 0 </h5>
											<a class = "adding"><i class="fas fa-plus-circle" style="color: red"></i></a>
			                        	</div>
			                        	<div class = "ratingSubmit">
				                        	<button type="submit" class="btn myBtn">
													<a style="color:white">Submit</a>
											</button>
										</div>
			                    </form>
		                        <p class="card-text">{{questionResp}}</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{{/each}}
		{{else}}
		{{#each receivedP}}
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-12 mt-3">
		            <div class="card">
		                <div class="card-horizontal">
		                    <div class="img-square-wrapper">
		      					<img src={{image}} class="works2" alt="...">
		                    </div>
		                    <div class="card-body">
								<form id="rateFB" role="form" method="get" action="/addStars">
			                    		<div class = "ratingA">
			                        		<button class="btn myBtn dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown"><i class="fas fa-star" style="color: white"></i> -- </button>
											  <ul class="dropdown-menu dropdown-menu-center">
											    <li><a href="#" id="1star">1</a></li>
											    <li><a href="#" id="2star">2</a></li>
											    <li><a href="#" id="3star">3</a></li>
											    <li><a href="#" id="4star">4</a></li>
											    <li><a href="#" id="5star">5</a></li>
											  </ul>
			                        	</div>
			                        	<div class = "ratingSubmit">
				                        	<button type="submit" class="btn myBtn">
													<a style="color:white">Submit</a>
											</button>
										</div>
			                    </form>
		                        <p class="card-text">{{questionResp}}</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{{/each}}
			                    
		{{/if}}
		<h2>Illustration</h2>
		{{#each receivedI}}

		<div class="container-fluid">
		    <div class="row">
		        <div class="col-12 mt-3">
		            <div class="card">
		                <div class="card-horizontal">
		                    <div class="img-square-wrapper">
		      					<img src={{image}} class="works2" alt="...">
		                    </div>
		                    <div class="card-body">
		                        <h4 class="card-title">RATING GOES HERE</h4>
		                        <p class="card-text">{{questionResp}}</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{{/each}}
		<h2>Graphic Desgign</h2>
		{{#each receivedG}}
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-12 mt-3">
		            <div class="card">
		                <div class="card-horizontal">
		                    <div class="img-square-wrapper">
		      					<img src={{image}} class="works2" alt="...">
		                    </div>
		                    <div class="card-body">
		                        <h4 class="card-title">RATING GOES HERE</h4>
		                        <p class="card-text">{{questionResp}}</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{{/each}}
	  </div>
	</div>

{{> navbar}}
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
