<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/history.css" rel="stylesheet"></link>
	
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<title>Dconstruct</title>
</head>
<body>
<div>
	{{> topnav}}
	
	<ul class=" nav nav-pills mb-3 justify-content-center nav-fill" id="pills-tab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sent</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Recieved</a>
	  </li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
	  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
	  	<h1 class="title">Sent History</h1>
			{{#each received}}
			<div class="container-fluid">
			    <div class="row">
			        <div class="col-12 mt-3">
			            <div class="card bg-light">
			                <div class="card-horizontal">
			                    <div class="img-square-wrapper">
			      					<img src={{image}} class="works2" alt="...">
			                    </div>
			                    <div class="card-body">
			                        <h4 class="card-title">RATING GOES HERE</h4>
			                        <p class="card-text">{{questionResp}}</p>
			                    </div>
			                </div>
			                <div class="card-footer">
			                    <small class="text-muted">CATEGORY OF THE POST GOES HERE</small>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			{{/each}}			
	  </div>

	  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
	  	<h1 class="title">Recieved History</h1>
		{{#each given}}
		<div class="container-fluid">
		    <div class="row">
		        <div class="col-12 mt-3">
		            <div class="card">
		                <div class="card-horizontal">
		                    <div class="img-square-wrapper">
		      					<img src={{image}} class="works2" alt="...">
		                    </div>
		                    <div class="card-body">
		                        <h4 class="card-title">RATING GOES HERE</h4>
		                        <p class="card-text">{{questionResp}}</p>
		                    </div>
		                </div>
		                <div class="card-footer">
		                    <small class="text-muted">CATEGORY OF THE POST GOES HERE</small>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		{{/each}}
	  </div>
	</div>

<!--
    <h1 class="title">Feedback History</h1>

	<div class=subBody>
		<div class="feedbackType">
			<h3 class="category">Received Feedback</h3>
			{{#each received}}
					<img class="works" src={{image}}>
					<p>{{questionResp}}</p>
				</div>
			{{/each}}
			{{!-- <p> You do not have feedback yet. 
				<br>Upload content to receive feedback.
			</p>
			<a href="/upload"><i class="far fa-plus-square"></i></a> --}}
		</div>

		<div class="feedbackType">
			<h3 class="category">Given Feedback</h3>
			{{#each given}}
				<div id={{no}}>
					<img class="works" src={{image}}>
					<p>{{questionResp}}</p>
				</div>
			{{/each}}
			{{!-- <p> You have not given feedback yet.
				<br>Give feedback to gain stars.
			</p>
			<a href="/givefeedback"><i class="fas fa-edit"></i></a> --}}
		</div>
	</div>
-->


{{> navbar}}
</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
