<html>
<head>
	<script src="https://kit.fontawesome.com/5475b02c18.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/main.js"></script>
	<title>Dconstruct</title>
</head>
<body>
<div>
	{{> topnav}}
	<div class="shiftDown"></div>
	<h1 class="title">Give Feedback</h1>
	<div class="dropdown text-center" id="categoryDropdown">
	  <button class="btn myBtn dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown">Photography</button>
	  <ul class="dropdown-menu dropdown-menu-center" >
	    <li><a href="#" id="photography">Photography</a></li>
	    <li><a href="#" id="illustration">Illustration</a></li>
	    <li><a href="#" id="graphicdesign">Graphic Design</a></li>
	  </ul>
	</div>

	<div id="P">
		<div class="posts">
		<div id="carouselExampleControls" class="carousel slide" data-ride="false">
			<div class="works carousel-inner">
				{{#each PostsP}}
					<div class="carousel-item" id={{no}}>
						<img class="d-block w-100" src={{image}}>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn myBtn">
				<a style="color:white" class="linkToGiveFeedback">Give Feedback</a>
			</button>
			<br>
			<br>
			<button type="submit" class="btn myBtn" id="skipP">
				<a style="color:white" data-slide="next">Skip</a>
			</button>
			<p>A skip will cost 1 star</p>
		</div>
		</div>
	</div>


	<div id="I">
		<div class="posts">
		<div id="carouselExampleControls" class="carousel slide" data-ride="false">
			<div class="works carousel-inner">
				{{#each PostsI}}
					<div class="carousel-item" id={{no}}>
						<img class="d-block w-100" src={{image}}>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn myBtn">
				<a style="color:white" class="linkToGiveFeedback">Give Feedback</a>
			</button>
			<br>
			<br>
			<button type="submit" class="btn myBtn" id="skipI">
				<a style="color:white" data-slide="next">Skip</a>
			</button>
			<p>A skip will cost 1 star</p>
		</div>
		</div>
	</div>

	<div id="G">
		<div class="posts">
		<div id="carouselExampleControls" class="carousel slide" data-ride="false">
			<div class="works carousel-inner">
				{{#each PostsG}}
					<div class="carousel-item" id={{no}}>
						<img class="d-block w-100" src={{image}}>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn myBtn">
				<a style="color:white" class="linkToGiveFeedback">Give Feedback</a>
			</button>
			<br>
			<br>
			<button type="submit" class="btn myBtn" id="skipG">
				<a style="color:white" data-slide="next">Skip</a>
			</button>
			<p>A skip will cost 1 star</p>
		</div>
		</div>
	</div>


	{{> navbar}}

</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
